version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/saved_models:/app/saved_models
      - ./backend/datasets:/app/datasets

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend